<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="HoracioAlanís">
    <title>Login · VirtualWallet</title>
</head>

<body>     
    <!-- Cabecera con Logo -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <img class="text_logo mb-4" src="img/text_logo.png">
                <img class="logo ms-2 mb-4" src="img/logo_VW.png">
            </div>
        </div>
    </div>

    <!-- Cuerpo del sitio / Formulario -->
    <div class="container">
        <div class="row">
            <div class="col-4 mt-5 m-auto">
                     <form>
                        <h1 class="h1 mb-4">Registrar Usuario</h1>
                        <p class="">Bienvenidos a<span class="fw-bold"> Virtual Wallet</span></p>
                        <div class="mb-2">
                            <p>Ingresar tu nombre:</p>
                            <input type="nombreUsuario" placeholder="nombre" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
                            <p>Ingresar tu apellido:</p>
                            <input type="apellidoUsuario" placeholder="apellido" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Ingresar mail:</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
                          </div>
                        <div class="mb-3">
                            <p>Ingresar contraseña:</p>
                            <label for="InputPassword" class="form-label visually-hidden">contraseña</label>
                            <input type="password" placeholder="contraseña" class="form-control" id="InputPassword1">
                            <br>
                            <label for="InputPassword1" class="form-label visually-hidden">contraseña1</label>
                            <input type="password" placeholder="ingresar contraseña nuevamente" class="form-control" id="InputPassword1">
                        </div>
                  
                        <div class="col-12 small mb-3">
                                <input type="checkbox" class="form-check-input" id="Check1">
                                <label class="form-check-label" for="Check1">Lei los termins y condicciones</label>
                                <a href="" class="float-end">Terminos y condiciones</a>
                        </div>
                        <button type="submit" class="col-12 py-2 btn btn-primary">Confirmar Registro</button>
                    </form>
                    <div class="small mt-5"><p>¿Ya tienes una cuenta?<a href="" class="fw-bold"> Inicia sesión</a>.</p></div>
            </div>
        </div>    
    </div>

    <!-- Pie de pagina del sitio -->
    <div class="container fixed-bottom">
        <div class="row">
            <div class="col-6 text-center m-auto">
            <p class="float-start">Copyright © 2021 Virtual Wallet All rights reserved.</p> <p class="float-end">Terms & Conditions.</p>
            </div>
        </div>
    </div>

</body>
</html>