<!doctype html>
<html lang="es">

<head>
  <title>Ingresar Dinero</title>
</head>

<!-- Cuerpo de la Página -->

<body class="">
  <div class="container-fluid">
    <div class="row">

      <!-- Columna Sidebar Izquierda c/ links -->
      <div class="col-md-2 vh-100">
        <div class="my-5 ms-3">
          <a routerLink="/pagina-principal"><img class="logo" src="/assets/img/logoVW_40px.png"></a>
                </div>
        <ul class="nav flex-column mb-5">
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/pagina-principal" class="nav-link active">
              <i class="bi bi-house-door"></i><span class="ms-4">Inicio</span>
            </a>
          </li>
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/perfil" class="nav-link">
              <i class="bi bi-person-circle"></i><span class="ms-4">Perfil</span>
            </a>
          </li>
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/ingresar-dinero" class="nav-link">
              <i class="bi bi-cash-coin"></i><span class="ms-4">Ingresar Dinero</span>
            </a>
          </li>
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/retirar-dinero" class="nav-link">
              <i class="bi bi-cash"></i><span class="ms-4">Retirar Dinero</span>
            </a>
          </li>
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/consultar-saldo" class="nav-link">
              <i class="bi bi-piggy-bank"></i><span class="ms-4">Saldo</span>
            </a>
          </li>
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/transferencia" class="nav-link">
              <i class="bi bi-arrow-repeat"></i><span class="ms-4">Transferir</span></a>
          </li>
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/consultar-operaciones" class="nav-link">
              <i class="bi bi-journal-text"></i><span class="ms-4">Movimientos</span></a>
          </li>

          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/girar-al-descubierto" class="nav-link disabled" tabindex="-1" aria-disabled="true">
              <i class="bi bi-arrow-clockwise"></i><span class="ms-4">Girar al Descubierto</span></a>
          </li>
        </ul>
        <ul class="nav flex-column user-menu">
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/perfil" class="nav-link small">
              <i class="bi bi-gear"></i><span class="ms-4">Configuración</span></a>
          </li>
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/perfil" class="nav-link small">
              <i class="bi bi-info-circle "></i><span class="ms-4">Info</span></a>
          </li>
        </ul>
      </div>

      <!-- Columna Principal - Main -->
      <div class="col-md-8 col-sm-12 px-md-5">

        <!-- EDITABLE - Comenzar a editar acá -->
        <div class="container mt-5 mb-3">
          <div class="row">
            <!-- Nombre de la página en la que estás -->
            <h5 class="h5 mt-1 text-black-50 ">
              Ingresar Dinero</h5>
          </div>
          <div class="row">
            <!-- Nombre de usuario o titulo de sección -->
            <h1 class="h1">
              <div class="">
                <i class="bi bi-person-circle"></i>
                <span class="ms-3">{{cliente.Nombre }}</span>
              </div>
            </h1>
          </div>
        </div>
        <!-- Columnas - Formularios -->
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12 mt-5 m-auto">
              <form>
                <h2 class="h2 fw-bold mb-5">
                  <i class="bi bi-cash-coin me-2"></i>
                  Ingresar dinero
                </h2>
                <div class="input-group mb-3">
                  <span class="input-group-text">$</span>
                  <label for="InputNumber" class="form-label visually-hidden">Monto</label>
                  <input type="number" placeholder="Monto a ingresar" class="form-control" id="InputNumber" [(ngModel)]="cantidad"
                  [ngModelOptions]="{standalone: true}"class="form-control" aria-label="Amount (to the nearest dollar)" required>
                  <span class="input-group-text">.00</span>
                </div>
                <div class="col-12 small mb-3">
                  <input type="checkbox" class="form-check-input" id="Check1">
                  <label class="form-check-label ms-2" for="Check1">Recordar mensualmente</label>
                </div>
                <div class="text-end">
                  <button type="submit" class="btn btn-outline-secondary btn-lg">Cancelar</button>
                  <button type="submit" class="btn btn-success btn-lg ms-3" (click)="RegistrarIngreso()">Confirmar monto</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--FIN DE LO EDITABLE - Comenzar a editar acá-->

      </div>

      <!-- Columna Sidebar Derecha c/ cajas y datos -->
      <div class="col-md-2">
        <!-- esta columna está vacia por ahora -->
      </div>

    </div>
  </div>
</body>
</html>