<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <title>Principal - Home</title>

</head>

<!-- Cuerpo de la Página -->

<body class="bg-light">
  <div class="container-fluid">
    <div class="row">

      <!-- Columna Sidebar Izquierda c/ links -->
      <div class="col-md-2 vh-100">
        <div class="my-5 ms-3">
          <img class="logo" src="/assets/img/logoVW_40px.png">
        </div>
        <ul class="nav flex-column mb-5">
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/pagina-principal" class="nav-link active">
              <i class="bi bi-house-door"></i><span class="ms-4">Inicio</span>
            </a>
          </li>
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/perfil" class="nav-link">
              <i class="bi bi-person-circle"></i><span class="ms-4">Perfil</span>
            </a>
          </li>
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/ingresar-dinero" class="nav-link">
              <i class="bi bi-cash-coin"></i><span class="ms-4">Ingresar Dinero</span>
            </a>
          </li>
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/retirar-dinero" class="nav-link">
              <i class="bi bi-cash"></i><span class="ms-4">Retirar Dinero</span>
            </a>
          </li>
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/consultar-saldo" class="nav-link">
              <i class="bi bi-piggy-bank"></i><span class="ms-4">Saldo</span>
            </a>
          </li>
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/transferencia" class="nav-link">
              <i class="bi bi-arrow-repeat"></i><span class="ms-4">Transferir</span></a>
          </li>
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/consultar-operaciones" class="nav-link">
              <i class="bi bi-journal-text"></i><span class="ms-4">Movimientos</span></a>
          </li>

          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/girar-al-descubierto" class="nav-link disabled" tabindex="-1" aria-disabled="true">
              <i class="bi bi-arrow-clockwise"></i><span class="ms-4">Girar al Descubierto</span></a>
          </li>
        </ul>
        <ul class="nav flex-column user-menu">
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/configuracion" class="nav-link small">
              <i class="bi bi-gear"></i><span class="ms-4">Configuración</span></a>
          </li>
          <li class="nav-item border border-0 rounded-2 ms-2">
            <a routerLink="/info " class="nav-link small">
              <i class="bi bi-info-circle "></i><span class="ms-4">Info</span></a>
          </li>
        </ul>
      </div>

      <!-- Columna Principal - Main -->
      <div class="col-md-8 col-sm-12 px-md-5">

        <!-- EDITABLE - Comenzar a editar acá -->
        <div class="container mt-5 mb-3">
          <div class="row">
            <!-- Nombre de la página en la que estás -->
            <h5 class="h5 mt-1">Consulta de Saldo</h5>
          </div>
          <div class="row">
            <!-- Nombre de usuario o titulo de sección -->
            <h1 class="h1">
              <div class="">
                <i class="bi bi-person-circle"></i>
                <span class="ms-3">Usuario</span>  
              </div>
            </h1>
          </div>
        </div>
        <!-- Columnas - Formularios -->
          <div class="container">
          <div class="row">
            <div class="col mb-3 bg-white border rounded-1" style="min-height: 140px;">
              <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                  <label for="validationCustom01" class="form-label">First name</label>
                  <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                
                <div class="col-md-4">
                  <label for="validationCustomUsername" class="form-label">Username</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                      Please choose a username.
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
              </form>
                     
            </div>
          </div>
        </div>

        <!--FIN DE LO EDITABLE - Comenzar a editar acá-->


      </div>

      <!-- Columna Sidebar Derecha c/ cajas y datos -->
      <div class="col-md-2">
        <!-- esta columna está vacia por ahora -->
      </div>
    </div>
  </div>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>

