<html lang="es">

<head>
    <title>Login · VirtualWallet</title>
</head>

<body>     
    <!-- Cabecera con Logo -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <img class="logo mt-5" src="/assets/img/logoVW.png">
            </div>
        </div>
    </div>

    <!-- Cuerpo del sitio / Formulario -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-10 mt-5 m-auto">
                <form>
                        <h1 class="h1 fw-bold mb-3">Login</h1>
                        <p class="">Bienvenidos a<span class="fw-bold"> Virtual Wallet</span></p>
                        <div class="mb-3">
                            <label for="InputEmail1" class="form-label visually-hidden">Email</label>
                            <input type="email" placeholder="Email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="InputPassword1" class="form-label visually-hidden">Password</label>
                            <input type="password" placeholder="Password" class="form-control" id="InputPassword1">
                        </div>
                        <div class="col-12 small mb-3">
                                <input type="checkbox" class="form-check-input" id="Check1">
                                <label class="form-check-label ms-2" for="Check1">Recordarme</label>
                                <a href="" class="float-end">¿Olvidaste tu contraseña?</a>
                        </div>
                        <button type="submit" class="col-12 py-2 btn btn-primary">Ingresar</button>
                    </form>
                    <div class="small mt-5"><p>¿Ya tienes una cuenta?
                        <a routerLink="/pagina-principal" class="fw-bold"> Inicia sesión</a>.</p></div>
            </div>
        </div>    
    </div>

    <!-- Pie de pagina del sitio -->
    <div class="container fixed-bottom">
        <div class="row">
            <div class="col-md-5 text-center text-muted small m-auto">
            <p class="">Copyright © 2021 Virtual Wallet. Terminos y Condiciones.</p>
            </div>
        </div>
    </div>

</body>
</html>