/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    font-family: 'Roboto', sans-serif!important;
    background-color: #F8F8FF!important;
}
a {
    text-decoration: none;
}
.main a {
    color: #242db0;
}
.logo{
    width: 100%;
}
.nav-link{
    font-size: 0.9em;
    color: #0d6efd!important;
}
.nav-link:active {
    color: blueviolet!important;
}
li.nav-item:hover,
a.col:hover{
    background-color: #e7f5f8a1;
}
.user-menu {
    font-size: 0.9em;
    color: #5f6183;
}